# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# Buildversions
BuildVersion/

# Unity3D VS2013 tool
Assets/UnityVS
Assets/UnityVS.meta
UnityVS.Cuber-Unity.sln.DotSettings

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
